<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordAddIn1.Properties.Settings>
            <setting name="Setting_paragraphLength" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Setting_termsAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_glassware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_decimalPlaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_sequenceWords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_sulfur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_commonOperations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_firstPerson" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_degreeSymbol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_imperatives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_lists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_multiplicationSymbol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_mp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_DMC_THF_DMF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_pH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_tlc" serializeAs="String">
                <value>True</value>
            </setting>
        </WordAddIn1.Properties.Settings>
    </userSettings>
</configuration>